*
{
	box-sizing: border-box;
}

.fixed-header
{
	height: 3em;
	width: 100%;
	position: fixed;
	top: 0;
}

.header-image
{
	width: 100%;
	height: 20em;
	overflow: hidden;
}

.header-image img
{
	width: 100%;
	margin: -20em 0px;
}

.mobile-nav
{
	margin-top: 1px;
}

/* @media only screen and (orientation: landscape)
{
	.header-image img
	{
		margin: -5em 0px;
	}
} */