.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column div 
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.project
{
    display:flex;
    font-weight: bold;
    padding: 20px;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.project img
{
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    height:auto;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

.overlay
{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover img
{
    opacity: 0.3;
}

.project:hover .overlay
{
    opacity: 1;
}

.text-TWD
{
    background-color:#B2733D;
    color:#3F200C
}

.text-Terminator
{
    background-color: #AB9988;
    color: #D6234A;
}

@media screen and (max-width:768px)
{
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
}
